<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group C</title>
    <!-- Font font-awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- index.css link -->
    <link rel="stylesheet" href="index.css">

    <!-- index2.css link -->
    <link rel="stylesheet" href="index2.css">
    <!-- favicon link here -->
    <link rel="icon" type="image/x-icon" href="football.jpg">
</head>
<body>
    <h1 class="group">Group C</h1>
    <section class="blogs-section">
        <div class="blog">
            <div class="blog-photo">
                <img src="Argentina.png" width="80px" height="55px" alt="">
                <h3 class="blog-vs">VS</h3>
                <img src="saudi arabia.png" width="94px" height="55px" alt="">
            </div>
            <div class="blog-info">
                <h2 class="blog-heading">Argentina VS Saudi Arabia</h2>
                <p class="blog-text">>Nov 22, 2022, 03:30 PM</p>
            </div>
        </div>
        <div class="blog">
            <div class="blog-photo">
                <img src="mexico.png" width="94px" height="55px" alt="">
                <h3 class="blog-vs">VS</h3>
                <img src="poland.png" width="94px" height="55px" alt="">
            </div>
            <div class="blog-info">
                <h2 class="blog-heading">Mexico VS Poland</h2>
                <p class="blog-text">>Nov 22, 2022, 09:30 PM</p>
            </div>
        </div>
        <div class="blog">
            <div class="blog-photo">
                <img src="poland.png" width="80px" height="55px" alt="">
                <h3 class="blog-vs">VS</h3>
                <img src="saudi arabia.png" width="94px" height="55px" alt="">
            </div>
            <div class="blog-info">
                <h2 class="blog-heading">Poland VS Saudi Arabia</h2>
                <p class="blog-text">>Nov 26, 2022, 06:30 PM</p>
            </div>
        </div>
        <div class="blog">
            <div class="blog-photo">
                <img src="Argentina.png" width="94px" height="55px" alt="">
                <h3 class="blog-vs">VS</h3>
                <img src="mexico.png" width="94px" height="55px" alt="">
            </div>
            <div class="blog-info">
                <h2 class="blog-heading">Argentina VS Mexico</h2>
                <p class="blog-text">>Nov 27, 2022, 12:30 AM</p>
            </div>
        </div>
        <div class="blog">
            <div class="blog-photo">
                <img src="poland.png" width="94px" height="55px" alt="">
                <h3 class="blog-vs">VS</h3>
                <img src="Argentina.png" width="94px" height="55px" alt="">
            </div>
            <div class="blog-info">
                <h2 class="blog-heading">Poland VS Argentina</h2>
                <p class="blog-text">>Dec 1, 2022, 12:30 AM</p>
            </div>
        </div>
        <div class="blog three-blog ">
            <div class="blog-photo">
                <img src="saudi arabia.png" width="94px" height="55px" alt="">
                <h3 class="blog-vs">VS</h3>
                <img src="mexico.png" width="94px" height="55px" alt="">
            </div>
            <div class="blog-info">
                <h2 class="blog-heading">Saudi Arabia VS Mexico</h2>
                <p class="blog-text">>Dec 1, 2022, 12:30 AM</p>
            </div>
        </div>
        
    </section>
</body>
</html>