<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group E</title>
    <!-- Font font-awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- index.css link -->
    <link rel="stylesheet" href="index.css">

    <!-- index2.css link -->
    <link rel="stylesheet" href="index2.css">
    <!-- favicon link here -->
    <link rel="icon" type="image/x-icon" href="football.jpg">
</head>
<body>
    <h1 class="group">Group E</h1>
    <section class="blogs-section">
        <div class="blog">
            <div class="blog-photo">
                <img src="germany Flag.png" width="80px" height="55px" alt="">
                <h3 class="blog-vs">VS</h3>
                <img src="japan.png" width="94px" height="55px" alt="">
            </div>
            <div class="blog-info">
                <h2 class="blog-heading">Germany VS Japan</h2>
                <p class="blog-text">>Nov 23, 2022, 06:30 PM</p>
            </div>
        </div>
        <div class="blog">
            <div class="blog-photo">
                <img src="spain.png" width="94px" height="55px" alt="">
                <h3 class="blog-vs">VS</h3>
                <img src="Costa_Rica.png" width="94px" height="55px" alt="">
            </div>
            <div class="blog-info">
                <h2 class="blog-heading">Spain VS Costa Rica</h2>
                <p class="blog-text">>Nov 23, 2022, 09:30 PM</p>
            </div>
        </div>
        <div class="blog">
            <div class="blog-photo">
                <img src="japan.png" width="80px" height="55px" alt="">
                <h3 class="blog-vs">VS</h3>
                <img src="Costa_Rica.png" width="94px" height="55px" alt="">
            </div>
            <div class="blog-info">
                <h2 class="blog-heading">Japan VS Costa Rica</h2>
                <p class="blog-text">>Nov 27, 2022, 03:30 PM</p>
            </div>
        </div>
        <div class="blog">
            <div class="blog-photo">
                <img src="spain.png" width="94px" height="55px" alt="">
                <h3 class="blog-vs">VS</h3>
                <img src="germany Flag.png" width="94px" height="55px" alt="">
            </div>
            <div class="blog-info">
                <h2 class="blog-heading">Spain VS Germany</h2>
                <p class="blog-text">>Nov 28, 2022, 12:30 AM</p>
            </div>
        </div>
        <div class="blog">
            <div class="blog-photo">
                <img src="japan.png" width="94px" height="55px" alt="">
                <h3 class="blog-vs">VS</h3>
                <img src="spain.png" width="94px" height="55px" alt="">
            </div>
            <div class="blog-info">
                <h2 class="blog-heading">Japan VS Spain</h2>
                <p class="blog-text">>Dec 2, 2022, 12:30 AM</p>
            </div>
        </div>
        <div class="blog three-blog ">
            <div class="blog-photo">
                <img src="Costa_Rica.png" width="94px" height="55px" alt="">
                <h3 class="blog-vs">VS</h3>
                <img src="germany Flag.png" width="94px" height="55px" alt="">
            </div>
            <div class="blog-info">
                <h2 class="blog-heading">Costa Rica VS Germany</h2>
                <p class="blog-text">>Dec 2, 2022, 12:30 AM</p>
            </div>
        </div>
        
    </section>
</body>
</html>