<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cup Fixture /Kick It!</title>

    <!-- Font font-awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- index.css link -->
    <link rel="stylesheet" href="index.css">

    <!-- index2.css link -->
    <link rel="stylesheet" href="index2.css">
    <!-- favicon link here -->
    <!-- <link rel="icon" type="image/x-icon" href="football.jpg"> -->
</head>

<body>
    <!-- Banner Section Start Here -->
    <header class="banner-container">
        <div class="banner-info">

            <h1 class="banner-heading">The Greatest show for the World</h1>
            <p class="banner-paragraph">People are belief that so popular game, many of the people are waiting to see this popular game in and do sacrifice, making it over from many years</p>
            <div class="banner-btn">
                <span class="banner-btn-text"><a href="https://www.youtube.com/watch?v=QXhV148EryQ" target="_blank">Watch Live</a> </span>
                <span class="banner-btn-icon"><i class="fa-solid fa-angle-right"></i></span>
            </div>
        </div>
        <div class="banner-photo">
            <img class="banner-img" src="Banner Image.png" alt="">
        </div>
    </header>
    <!-- Banner Section End Here -->

    <!-- Navigation section of Main Section  Start Here  -->

    <main class="">
        <div class="main-container">
            <section class="navigation-section">
                <ul>
                    <li id="blog-menu"><a class="navigation-section-upcoming-menu">Upcoming Match </a></li>
                    <!-- <li><a class="navigation-section-allgroup-menu" href="index.html" target="_blank">All Group</a></li> -->
                    <li><a href="live.html" target="_blank">Blog</a></li>
                </ul>

            </section>
            <!-- Navigation section End here and blogs section start here  -->
            <ol class="ol">
                <a href="groupA.html"><li>Group A</li></a>
                <a href="groupB.html"><li>Group B</li></a>
                <a href="groupC.html"><li>Group C</li></a>
                <a href="groupD.html"><li>Group D</li></a>
                <a href="groupE.html"><li>Group E</li></a>
                <a href="groupF.html"><li>Group F</li></a>
                <a href="groupG.html"><li>Group G</li></a>
                <a href="groupH.html"><li>Group H</li></a>
            </ol>
        </div>
        <div id="view-all">View All</div>
    </main>
    <!--  Main Section  End Here  -->

    <!-- Footer Section Start Here -->

    <footer>
        <div class="footer-content">
            <h3>KICK It!</h3>
            <p>
                We are one of the best squad builder website in terms of kickking
                the nepotism. We compare between players and choose the best
                Eleven for the squad. Hope You All Enjoy Our Website!
            </p>
            <ul class="socials">
                <li>
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/signup"><i class="fa fa-linkedin-square"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p><a href="#"></a></p>
            <div class="footer-menu">
                <ul class="f-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-home"></i></a>
                        <br>
                    </li>
                    <li>
                        <p><i class="fa fa-map-marker"></i>(Kalyani , West Bengal , India)</p>
                        <br>
                    </li>
                    <li>
                        <p><i class="fa fa-phone">(+916296422865)</i></p>
                        <br>
                    </li>
                    <li>
                        <p><i class="fa fa-envelope"></i>(kickit@gmail.com)</p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Footer Section End Here -->
</body>

</html>
